<div class="container fullheight">
  <div class="col-md-6 d-flex justify-content-between">
    <h1>Culture Heads</h1>
  </div>

  <div class="title">
    <h1 class="smaller">My book</h1>
    <h1> -marks<i class="fa-solid fa-bookmark text-white icon-save"></i></h1>
  </div>

</div>
