.bookmarks {

  padding-bottom: 80px;

  h3 {
    font-family: "Inria Sans", "Helvetica", "sans-serif";
    font-size: 24px;
    font-weight: bold;
    line-height: 55px;
  }

  .text-resume {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .btn-group {
    margin-bottom: 30px
  }

  .category-btn {
    display: inline-block;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: gray;
    color: white;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #40FA43;
      color: black;
    }

    &.active {
      background-color: #40FA43;
      color: black;
    }
  }

  .white-text {
    color: white;
  }

  .bookmarks-container {
    overflow-x: auto;
    white-space: nowrap;

    .bookmarks-list {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow: scroll;
      scrollbar-color: #E0FA41 #7B7BFF;
      scrollbar-width: thin;

      .bookmark-item {
        flex-shrink: 0;
        width: calc(50% - 10px);
        margin-right: 18px;
        margin-bottom: 10px;
      }
    }

    .grid-view {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }

    .bookmark-img-wrapper {
      width: 195px;
      height: 195px;
      border-radius: 20px;
      overflow: hidden;
      // width: 20%;
      // height: auto;
      // max-width: 100%;
      // border-radius: 20px;
      // overflow: hidden;
      .bookmark-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .category-section {
      transition: opacity 0.5s ease-in-out;
    }

    a {
      color: #7B7BFF;
    }
  }
}
