.my-bookmarks {
  .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .bookmark-title {
    margin-top: 30px;
    margin-bottom: 50px;
    h1 {
      font-size: 55px;
      font-weight: bold;
      line-height: 80px;
      .save-logo {
        font-size: 60px;
        margin-left: 20px;
      }
    }
  }

  .fas.fa-bookmark {
    color: black;
  }

  .far.fa-bookmark {
    color: gray;
  }
}
