.page-title {
  margin-bottom: 0px;
}
.bg-color-1 {
  background-color: #40FA43;
  /* Vert */
}

.bg-color-2 {
  background-color: #7B7BFF;
  /* Bleu */
}

.bg-color-3 {
  background-color: #E0FA41;
  /* Jaune */
}
