.toi-show {
  a {
    text-decoration: none;
  }
  .toi {
    position: relative;
    top: -70px;
  }
  .litterature {
    background-color: #40FA43;
  }
  .litterature-color {
    color: #40FA43;
  }
  .litterature-border{
    border: 2px solid #40FA43 !important;

  }

  .cinema {
    background-color: #FFA8FF;
  }
  .cinema-color{
    color: #FFA8FF;
  }
  .cinema-border{

    border: 2px solid #FFA8FF !important;
  }

  .spectacle {
    background-color: #E0FA41;
  }
  .spectacle-color{
    color: #E0FA41;
  }
  .spectacle-border{

    border: 2px solid #E0FA41 !important;
  }
  .exposition {
    background-color:#7B7BFF;

  }
  .exposition-color{
    color: #7B7BFF;
  }
  .exposition-border{

    border: 2px solid #7B7BFF !important;
  }
}
