#explore-color{

  .category-card{
    background-color: #272727;
    border-radius: 40px;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    color: white;

    display: flex;
    align-items: center; // Pour aligner les éléments verticalement

    .category-icon-box {
      flex: 0 0 1.5em; // Fixer une largeur pour la partie de la boîte contenant l'icône
    }
    .category-icon {
      height: 3em; // Fixer la hauteur des icônes
    }

    .ms-2 {
      margin-left: 1.5rem !important;
    }
  }



  .card {
    background-color: #272727;
    margin-bottom: 1.25rem;
    border-radius: 40px;
    padding: 20px;
    color: white;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  h3 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .toi-infos {
    padding-top: 15px;
    font-family: $headers-font;
    font-weight: 100;

    h2 {
      color: white;
      margin-left: 0rem;
      font-weight: 600;
    }
  }

  .litterature {
    background-color: #40FA43;
  }
  .litterature-color {
    color: #40FA43;
  }
  .litterature-border {
    position: relative;
    border-radius: 40px;
  }
  .litterature-border::before {
    content: '';
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: -1;
    background-image: linear-gradient(45deg, #40FA43, white);
    border-radius: inherit;
    background-clip: padding-box;
  }

  .cinema {
    background-color: #FFA8FF;
  }
  .cinema-color {
    color: #FFA8FF;
  }
  .cinema-border {
    position: relative;
    border-radius: 40px;
  }
  .cinema-border::before {
    content: '';
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: -1;
    background-image: linear-gradient(45deg, #FFA8FF, white);
    border-radius: inherit;
    background-clip: padding-box;
  }

  .spectacle {
    background-color: #E0FA41;
  }
  .spectacle-color {
    color: #E0FA41;
  }
  .spectacle-border {
    position: relative;
    border-radius: 40px;
  }
  .spectacle-border::before {
    content: '';
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: -1;
    background-image: linear-gradient(45deg, #E0FA41, white);
    border-radius: inherit;
    background-clip: padding-box;
  }

  .exposition {
    background-color:#7B7BFF;
  }
  .exposition-color {
    color:#7B7BFF;
  }
  .exposition-border {
    position: relative;
    border-radius: 40px;
  }
  .exposition-border::before {
    content: '';
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: -1;
    background-image: linear-gradient(45deg, #7B7BFF, white);
    border-radius: inherit;
    background-clip: padding-box;
  }
}
