#explore-color{
  .card{
    background-color: #ffffff;
  }
  .fw-bold {
    color: black;
  }
  .litterature {
    background-color: #40FA43;
  }
  .litterature-color {
    color: #40FA43;
  }
  .litterature-border {
    border: 4px solid #40FA43;
  }

  .cinema {
    background-color: #FFA8FF;
  }
  .cinema-color {
    color: #FFA8FF;
  }
  .cinema-border {
    border: 4px solid #FFA8FF;
  }

  .spectacle {
    background-color: #E0FA41;
  }
  .spectacle-color {
    color: #E0FA41;
  }
  .spectacle-border {
    border: 4px solid #E0FA41;
  }
  .exposition {
    background-color:#7B7BFF;

  }
  .exposition-color {
    color:#7B7BFF;

  }
  .exposition-border {
    border: 4px solid #7B7BFF;
  }

}
