<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-transparent footer-height menu-bar custom-navbar-height top-bar">
  <div class="container-fluid d-flex  align-items-center mt-2">

      <div class="d-flex">
      <%= link_to my_feed_path do %>
        <div class="text-center bg-white rounded-circle p-2 me-2" onclick="history.back()">
          <i class="fa-solid fa-arrow-left text-white fa-2x icon-menu-bar"></i>
        </div>
      <% end %>
      </div>
    <!-- Partie gauche -->
    <div class="d-flex">
      <%= link_to my_feed_path do %>
        <div class="text-center bg-white rounded-circle p-2 me-2">
          <i class="fa-solid fa-bell text-white fa-2x icon-menu-bar"></i>
        </div>
      <% end %>

      <div class="dropdown-center">
        <button class="text-center bg-white rounded-circle  p-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-bars  text-white fa-2x icon-menu-bar"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end bg-white mt-2">
          <li><%= button_to 'Se déconnecter', destroy_user_session_path, method: :delete , class: 'dropdown-item' %></li>
        </ul>
      </div>


  </div>
  </nav>
