<div class="d-flex flex-column align-items-center justify-content-center align-middle" style="height: 100vh;">
  <% if current_user&.permitted? %>
    <div id="welcome-message" class="welcome-animation">
      <h2 class="fa-2x">Welcome</h2>
      <h3 class="fw-bold text-primary fa-3x"><%= current_user.username %></h3>
    </div>
    <script>
      setTimeout(function() {
        window.location.href = '<%= my_feed_path %>';
      }, 1500);
    </script>
  <% else %>
    <div class="d-flex flex-column justify-content-center align-items-center p-3">
      <div class="d-flex justify-content-center align-items-center mb-4">
        <i class="text-white fa-solid fa-lock fa-2xl me-2 animate__animated animate__headShake animate__infinite"></i>
        <h3 class="m-0 fw-bold">You're locked!</h3>
      </div>
        <%= link_to new_post_path do %>
      <div class="btn btn-primary rounded">Add a new post</div>
      <% end %>
    </div>
  <% end %>
</div>
