.logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-title {
  margin-top: 30px;
  margin-bottom: 50px;
  h1 {
    font-size: 85px;
    font-weight: bold;
    line-height: 80px;
    .icon-logo {
      font-size: 60px;
      margin-left: 20px;
    }
  }
}
