.card {
  background-color: $flashy-green;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 50px;
}

.img-show {
  height: 300px;
  width: 100%;
  border-radius: 25px;
  object-fit: cover;
}

.category {
  position: relative;
  bottom: 67%;
  left: 10px;
}

.stars {
  margin-top: 7px;
}
