// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Components
@import "components/index";
@import "components/menu_bar";

//Pages
@import "pages/index";
@import "pages/toi_show";
@import "pages/my_feed";
@import "pages/new";


.welcome-animation {
  opacity: 0;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.page-transition {
  animation: pageFadeIn 0.5s ease-out;
}

@keyframes pageFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sizing-review {
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  padding-left: 0.5em;
}

.sign-in .form-control {
  color: white !important;
}

html {
  overscroll-behavior: none!important;
}


